{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "endOfLine": "auto"
}
